{% set title = 'Account Profile' %}

{% extends 'src/Clients/Students/NiceAdmin/SourceCode/Masters/login.html' %}

{% block content %}
<div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                    <div class="d-flex justify-content-center py-4">
                        <a href="index.html" class="logo d-flex align-items-center w-auto">
                            <img src="assets/img/logo.png" alt="">
                            <span class="d-none d-lg-block">KeshavSoft</span>
                        </a>
                    </div><!-- End Logo -->

                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="pt-4 pb-2">
                                <h5 class="card-title text-center pb-0 fs-4">Register now</h5>
                                <p class="text-center small">Enter the below details to show your interest</p>
                            </div>

                            <form id="FormId" class="row g-3 needs-validation" onsubmit="return false" novalidate>

                                <div class="col-12">
                                    <label for="StudentNameId" class="form-label">Name</label>
                                    <div class="input-group has-validation">
                                        <input type="text" name="StudentName" class="form-control" id="StudentNameId"
                                            required autofocus>
                                        <div class="invalid-feedback">Please choose a username.</div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <label for="MobileId" class="form-label">Mobile</label>
                                    <input type="number" name="Mobile" class="form-control" id="MobileId" required>
                                    <div class="invalid-feedback">Please enter your password!</div>
                                </div>
                                <div class="col-12">
                                    <label for="EmailId" class="form-label">User Email</label>
                                    <input type="email" name="Email" class="form-control" id="EmailId" required>
                                    <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                                </div>

                                <div class="col-12">
                                    <label for="EmailId" class="form-label">Select College</label>
                                    <select class="form-select" aria-label="Default select example" id="CollegeSelectId"
                                        name="CollegeName" required>
                                        <option selected>Open this select menu</option>
                                        <option value="ACE">ACE</option>
                                        <option value="CMR">CMR</option>
                                        <option value="Geethanjali">Geethanjali</option>
                                    </select>
                                </div>

                                <div class="col-12">
                                    <label for="formFile" class="form-label">Select resume file</label>
                                    <input class="form-control" type="file" id="formFile">
                                </div>

                                <div class="col-12">
                                    <div class="form-check">
                                        <input class="form-check-input" name="terms" type="checkbox" value=""
                                            id="acceptTerms">
                                        <label class="form-check-label" for="acceptTerms">I agree and accept the <a
                                                href="#">terms and
                                                conditions</a></label>
                                        <div class="invalid-feedback">You must agree before submitting.</div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100" type="btn btn-primary"
                                        id="CreateButtonId">Create
                                        Account</button>
                                </div>
                                <div class="col-12">
                                    <p class="small mb-0">Know more... <a href="../../chat/chat.html">start chat</a>
                                    </p>
                                </div>
                            </form>

                        </div>
                    </div>

                    <div class="credits">
                        <!-- All the links in the footer should remain intact. -->
                        <!-- You can delete the links only if you purchased the pro version. -->
                        <!-- Licensing information: https://bootstrapmade.com/license/ -->
                        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block js %}
<!-- <script type="module" src="../Js/pages/register/StartFunc.js"></script> -->
<script type="module" src="../Js/pages/register/StartFunc.js"></script>
{% endblock %}